body{
    background-color: black;
}
.button {
    background-color: #111417;
    color: #a17f29;
    text-align: center;
}
.button:hover {
    background-image: linear-gradient(#111417, #111417, #afafaf);
    color: #a17f29;
    text-align: center;
}
#button {
    width: 20%;
    height: 50px;

}